/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

button:active,
button:focus {
  outline: none; }

button {
  border: none;
  padding: 0; }

input {
  border-width: 0px; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?kv47it");
  src: url("../fonts/icomoon.eot?kv47it#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?kv47it") format("truetype"), url("../fonts/icomoon.woff?kv47it") format("woff"), url("../fonts/icomoon.svg?kv47it#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow_forward:before {
  content: "\e914";
  color: #fff; }

.icon-expand_more:before {
  content: "\e90b";
  color: #0545BA; }

.icon-chevron_right:before {
  content: "\e911";
  color: #fff; }

.icon-chevron_left:before {
  content: "\e912";
  color: #fff; }

.icon-close:before {
  content: "\e907"; }

body {
  font-family: "Muller","sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #F5F5F5; }

button {
  font-family: "Muller","sans-serif"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 900;
  color: #252525; }

h1 {
  font-size: 56px;
  line-height: 56px; }

h2 {
  font-size: 42px;
  line-height: 48px; }

h3 {
  font-size: 36px;
  line-height: 42px; }

h4 {
  font-size: 30px;
  line-height: 36px; }

h5 {
  font-size: 24px;
  line-height: 30px; }

h6 {
  font-size: 19px;
  line-height: 26px; }

.btn {
  position: relative;
  width: 210px;
  height: 48px;
  background: #0545BA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  font-size: 1.6rem;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .btn:hover {
    cursor: pointer;
    background: #02173D; }
  .btn:hover .btn_icon {
    background-color: white; }
    .btn:hover .btn_icon .icon-arrow_forward::before {
      color: #fff; }
  .btn_text {
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 167px; }
  .btn_icon {
    position: absolute;
    right: -7px;
    width: 43px;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    -webkit-transform: matrix(1, 0, -0.3, 1, 5, 0);
        -ms-transform: matrix(1, 0, -0.3, 1, 5, 0);
            transform: matrix(1, 0, -0.3, 1, 5, 0);
    background-color: transparent; }
    .btn_icon .icon-arrow_forward::before {
      color: transparent; }

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px; }

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -12.5px;
  margin-right: -12.5px; }

html {
  background: #CDCDCD;
  font-size: 10px; }

body {
  max-width: 1440px;
  min-width: 1045px;
  margin: 0 auto;
  position: relative;
  background-color: #ffff; }

a {
  cursor: pointer; }

.header {
  width: 100%;
  background: url("../images/HERO.jpg") no-repeat;
  background-size: cover;
  padding-top: 26px;
  padding-bottom: 312px; }
  .header_top {
    -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
            box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 28px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header_utility {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-basis: 610px;
        -ms-flex-preferred-size: 610px;
            flex-basis: 610px; }
    .header_utility span {
      display: block; }
    .header_utility .icon-access_time {
      font-size: 24px;
      margin-right: 10px; }
    .header_utility .icon-phone {
      font-size: 24px;
      margin-right: 10px; }
  .header_hours {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header_call {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header_boarding, .header_phone {
    font-size: 12px;
    letter-spacing: 0.15px;
    color: #FFFFFF; }
  .header_boarding span:nth-of-type(1),
  .header_phone span:nth-of-type(1) {
    margin-bottom: 5px; }
  .header_nav {
    height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header_nav-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 24px;
    margin-right: 48px; }
    .header_nav-right a {
      font-size: 24px; }
  .header_title {
    margin-bottom: 48px;
    color: white; }

.search-box {
  margin-right: 22px;
  -webkit-transition: width 5s ease-out;
  -o-transition: width 5s ease-out;
  transition: width 5s ease-out; }
  .search-box:hover .search-box_text {
    display: inline-block;
    width: 150px; }
  .search-box_text {
    outline: none;
    border: 1px solid transparent;
    border-radius: 15px;
    background: #d5d5d54d;
    display: none;
    width: 0px;
    padding-left: 15px;
    vertical-align: middle;
    -webkit-transition: width 5s ease-out;
    -o-transition: width 5s ease-out;
    transition: width 5s ease-out; }
  .search-box_btn {
    display: inline-block;
    vertical-align: middle; }

/********MENU BLOCK****************/
.menu_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 630px; }
  @media screen and (max-width: 576px) {
    .menu_list {
      display: none;
      position: relative; } }
  @media screen and (max-width: 576px) {
    .menu_list--drop {
      display: block; } }
  .menu_list > li {
    margin-right: 10px;
    height: 100%; }
    .menu_list > li:hover {
      border-bottom: 2px solid #0545BA; }

.menu li {
  display: block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 100%; }
  .menu li:hover {
    opacity: 1; }

.menu_toggle {
  background-color: #2aacc8;
  display: none;
  height: 40px;
  width: 65px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 12px 11px;
  cursor: pointer; }
  .menu_toggle:before {
    content: 'Menu'; }
  @media screen and (max-width: 576px) {
    .menu_toggle {
      display: block;
      position: absolute;
      left: 82%;
      top: 6%; } }

.menu .last {
  margin-right: 0px; }

.menu_item-1 {
  position: relative; }

.menu_item-5 {
  position: relative; }

.menu a {
  color: #000000;
  opacity: 0.6;
  display: block;
  font-size: 1.6rem;
  font-family: "MullerMedium";
  line-height: 22px;
  letter-spacing: 0.15px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .menu a:hover {
    opacity: 1; }

@media screen and (max-width: 576px) {
  li.menu_item-1 {
    padding: 0;
    width: 230px; } }

.menu_item-1:hover {
  background-color: #ffffff; }
  @media screen and (max-width: 576px) {
    .menu_item-1:hover {
      padding: 0 0 0 10px; } }
  .menu_item-1:hover span {
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg); }
  .menu_item-1:hover .menu_drop-1 {
    display: block; }

.menu_item-1 a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu_item-1 span {
  display: block; }

.menu_drop-1 {
  z-index: 1000;
  position: absolute;
  top: 30px;
  width: 210px;
  background-color: #ffffff;
  display: none;
  -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
          box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
  border-radius: 5px; }
  @media screen and (max-width: 576px) {
    .menu_drop-1 {
      position: static; } }
  .menu_drop-1 li {
    padding-bottom: 5px;
    margin-right: 0;
    padding-left: 20px;
    border-bottom: solid 1px #EDEDEE;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .menu_drop-1 li:hover {
      background: #0545BA; }
      .menu_drop-1 li:hover a {
        color: white; }
  .menu_drop-1 li:last-child {
    border-bottom-width: 0px; }
  .menu_drop-1 a {
    line-height: 36px; }

/************ END OF MENU BLOCK**********/
.about {
  background-color: #0545BA;
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-left: 6.04166666667%;
  padding-right: 6.04166666667%;
  padding-top: 100px;
  margin-top: -70px;
  margin-bottom: 220px;
  border-radius: 40px;
  height: 700px; }
  .about_title {
    font-weight: 900;
    line-height: 42px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 36px; }
  .about_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #F5F5F5; }
  .about_subtitle {
    color: white; }

div img[src="images/Blob 2.png"] {
  z-index: 2;
  margin-left: -12%;
  margin-top: -10%; }

.dog-1 {
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  margin-top: -450px;
  border-radius: 40px; }
  .dog-1 img {
    width: 100%; }

.section-caption {
  margin-bottom: 33px; }
  .section-caption .icon-overline-mark {
    font-size: 16px;
    vertical-align: middle; }
  .section-caption .overline {
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    vertical-align: middle; }

.prop_subtitle {
  color: #0545BA; }

.prop_title {
  margin-bottom: 68px; }

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12.5px;
  margin-right: 12.5px;
  width: -webkit-calc(33.33333% - 25px);
  width: calc(33.33333% - 25px); }
  .card_title {
    color: #1091A5; }
  .card_text {
    color: #4B4B4B;
    line-height: 24px; }
  .card_icon {
    display: inline-block;
    vertical-align: top; }
  .card_content {
    display: inline-block;
    max-width: 235px;
    margin-left: 10px; }

.video {
  background-image: url("../images/BG Image.jpg");
  margin-top: 117px;
  height: 500px; }
  .video .row-flex {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .video_content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: -webkit-calc(41.66667% - 25px);
    width: calc(41.66667% - 25px); }
  .video_title {
    margin-bottom: 45px;
    color: #fff; }

.services {
  padding-top: 110px;
  margin-bottom: 122px; }
  .services_subtitle {
    color: #0545BA; }
  .services_title {
    margin-bottom: 78px; }
  .services_btn {
    width: 145px;
    margin: 0 auto; }
  .services_card-wrap {
    margin-bottom: 41px; }
  .services_card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: -webkit-calc(33.33333% - 25px);
    width: calc(33.33333% - 25px);
    text-align: center;
    padding: 50px 44px;
    margin-bottom: 24px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
            box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24); }
    .services_card .card_title {
      margin-top: 33px;
      margin-bottom: 20px; }

.appointment {
  height: 980px;
  background-image: url("../images/appointment.png");
  padding-top: 130px; }
  .appointment h4,
  .appointment span {
    color: #fff;
    display: block; }
  .appointment_form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: -webkit-calc(58.33333% - 25px);
    width: calc(58.33333% - 25px); }
  .appointment_stat {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: -webkit-calc(33.33333% - 25px);
    width: calc(33.33333% - 25px);
    text-align: center; }
    .appointment_stat h4 {
      margin-bottom: 46px; }
  .appointment_numbers {
    font-weight: 900;
    font-size: 96px;
    line-height: 76px;
    padding-bottom: 1px; }
  .appointment_text {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    margin-top: 46px; }
  .appointment .row-flex {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #5D62B5;
  padding: 76px 57px;
  -webkit-box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
          box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
  border-radius: 40px; }
  form input:nth-of-type(1),
  form input:nth-of-type(2),
  form input:nth-of-type(3),
  form select {
    width: 48%;
    display: block;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 48px;
    background-color: transparent;
    opacity: 0.8;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    padding-left: 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    margin-bottom: 20px; }
  form select {
    padding-left: 20px; }
  form input:nth-of-type(1)::-webkit-input-placeholder, form input:nth-of-type(2)::-webkit-input-placeholder, form input:nth-of-type(3)::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF; }
  form input:nth-of-type(1)::-moz-placeholder, form input:nth-of-type(2)::-moz-placeholder, form input:nth-of-type(3)::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF; }
  form input:nth-of-type(1):-ms-input-placeholder, form input:nth-of-type(2):-ms-input-placeholder, form input:nth-of-type(3):-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF; }
  form input:nth-of-type(1)::-ms-input-placeholder, form input:nth-of-type(2)::-ms-input-placeholder, form input:nth-of-type(3)::-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF; }
  form input:nth-of-type(1)::placeholder,
  form input:nth-of-type(2)::placeholder,
  form input:nth-of-type(3)::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF; }
  form textarea {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    opacity: 0.8;
    outline: none;
    resize: none;
    overflow: auto;
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 16px;
    color: #FFFFFF; }
    form textarea::-webkit-input-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #FFFFFF; }
    form textarea::-moz-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #FFFFFF; }
    form textarea:-ms-input-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #FFFFFF; }
    form textarea::-ms-input-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #FFFFFF; }
    form textarea::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #FFFFFF; }
  form option {
    color: #1853BF; }
  form h3 {
    color: #fff;
    margin-bottom: 43px; }
  form button {
    margin-left: 60%; }

.gallery {
  color: white;
  background-color: #0545BA;
  border-radius: 40px;
  padding-top: 100px;
  padding-left: 6.04167%;
  padding-right: 6.04167%;
  position: relative;
  height: 700px;
  margin-bottom: 210px;
  margin-top: -80px; }
  .gallery h3 {
    color: white;
    margin-bottom: 55px; }
  .gallery_block {
    margin-bottom: 50px; }
  .gallery_tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    height: 43px; }
  .gallery_link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    display: block;
    height: 100%;
    -webkit-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s; }
    .gallery_link:hover {
      border-bottom: 4px solid white;
      cursor: pointer;
      font-weight: bold; }
    .gallery_link--active {
      font-weight: bold;
      border-bottom: 4px solid white; }
  .gallery_content {
    position: relative;
    width: 100%;
    border: 1px solid transparent; }
  .gallery_item {
    position: absolute;
    width: 100%;
    display: none; }
    .gallery_item--active {
      display: block; }
    .gallery_item a {
      display: block; }
    .gallery_item video {
      width: 100%;
      -webkit-box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
              box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
      border-radius: 40px; }
  .gallery_photos img {
    width: 100%;
    -webkit-box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
            box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
    border-radius: 40px; }
  .gallery img[src="images/Icon Live.png"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0; }

.testimonials {
  margin-bottom: 210px; }
  .testimonials_subtitle {
    color: #0545BA; }
  .testimonials_card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: -webkit-calc(33.33333% - 25px);
    width: calc(33.33333% - 25px);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 0px 43px 40px 43px; }
    .testimonials_card span {
      color: #1091A5;
      font-weight: bold; }
  .testimonials_text {
    color: #0C1963;
    margin-bottom: 18px; }
  .testimonials h3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: -webkit-calc(33.33333% - 25px);
    width: calc(33.33333% - 25px); }
  .testimonials_userPic {
    vertical-align: middle; }
  .testimonials_userName {
    vertical-align: middle; }

.stat {
  background-image: url("../images/stat-bg.png");
  padding-top: 112px;
  height: 608px;
  margin-bottom: 160px; }
  .stat .wrapper {
    position: relative; }
  .stat h3 {
    color: white;
    width: 41.66666%;
    margin-bottom: 79px; }
  .stat_subtitle {
    color: white; }
  .stat_number {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    display: block; }
  .stat_amount {
    margin-left: 11px; }
  .stat_what {
    color: #0545BA;
    display: block; }
  .stat_wrapBlocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -12.5px;
    margin-right: -12.5px;
    margin-bottom: 134px; }
  .stat_block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: -webkit-calc(25% - 25px);
    width: calc(25% - 25px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .stat_block .icon {
      font-size: 76px; }
  .stat_app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0545BA;
    height: 150px;
    border-radius: 20px; }
    .stat_app h5 {
      color: white;
      max-width: 562px; }
  .stat_bg {
    position: absolute;
    top: -200px;
    right: 0; }

.footer {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #0C1963;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer a {
    color: #0C1963; }
    .footer a:hover {
      color: #1853BF; }
  .footer_title {
    font-weight: 900;
    margin-bottom: 28px; }
  .footer_contact {
    width: 23.2353%; }
  .footer_logoGroup {
    width: 23.2353%; }
  .footer_text {
    margin-top: 23px;
    margin-bottom: 33px; }
  .footer_social a {
    font-size: 24px;
    margin-right: 18px; }
    .footer_social a:hover i:before {
      color: #1853BF; }
  .footer_linkGroup {
    width: 21.3725%; }
    .footer_linkGroup li {
      margin-bottom: 16px; }
    .footer_linkGroup li:nth-last-of-type {
      margin-bottom: 0; }
  .footer_linkWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer_contact li {
    margin-bottom: 16px; }
  .footer_contact i {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 18px; }
  .footer_contact span {
    display: inline-block;
    vertical-align: middle;
    word-break: break-all; }

footer {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  background-color: #0545BA;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  footer a {
    color: #ffffff;
    font-weight: 800;
    padding-left: 10px; }
    footer a:hover {
      color: #1853BF; }
  footer a:nth-of-type(2) {
    border-left: 2px solid #ffff; }
  footer a:nth-of-type(1) {
    padding-right: 10px; }

/*# sourceMappingURL=stomatology.css.map */
