/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

button:active,
button:focus {
  outline: none; }

button {
  border: none;
  padding: 0; }

input {
  border-width: 0px; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?kv47it");
  src: url("../fonts/icomoon.eot?kv47it#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?kv47it") format("truetype"), url("../fonts/icomoon.woff?kv47it") format("woff"), url("../fonts/icomoon.svg?kv47it#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow_forward:before {
  content: "\e914";
  color: #fff; }

.icon-expand_more:before {
  content: "\e90b"; }

.icon-chevron_right:before {
  content: "\e911";
  color: #fff; }

.icon-chevron_left:before {
  content: "\e912";
  color: #fff; }

.icon-close:before {
  content: "\e907"; }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MullerMedium';
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MullerBold';
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Muller","sans-serif";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal; }

button {
  font-family: "Muller","sans-serif"; }

h1,
h2,
h3 {
  font-family: "MullerBold","sans-serif";
  color: #252525; }

h4,
h5,
h6 {
  font-family: "MullerMedium", "sans-serif"; }

h1 {
  font-size: 7.2rem;
  line-height: 63px; }

h2 {
  font-size: 6.4rem;
  line-height: 87%; }

h3 {
  font-size: 3.6rem;
  line-height: 3.1rem; }

h5 {
  font-size: 1.6rem;
  line-height: 1.6rem; }

h4 {
  font-size: 2.4rem;
  line-height: 2.8rem; }

h6 {
  font-size: 19px;
  line-height: 26px; }

.btn {
  height: 52px;
  background: #0545BA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  font-size: 1.6rem;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .btn:hover {
    cursor: pointer;
    background: #02173D; }
  .btn--sm {
    width: 150px; }
  .btn--mid {
    width: 184px; }
  .btn--big {
    width: 230px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.btn-slider-prev,
.btn-slider-next {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #0545BA;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1); }
  .btn-slider-prev span,
  .btn-slider-next span {
    color: white;
    font-size: 4.2rem; }

.btn-slider-prev {
  top: 45%;
  left: -24px;
  z-index: 10; }
  .btn-slider-prev span {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.btn-slider-next {
  top: 45%;
  right: -24px;
  z-index: 10; }
  .btn-slider-next span {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.slick-disabled {
  background-color: white; }
  .slick-disabled span {
    color: #0545BA; }

.wrapper {
  max-width: 1470px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

html {
  background: #CDCDCD;
  font-size: 10px; }

body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff; }

a {
  cursor: pointer; }

.header {
  width: 100%;
  padding-bottom: 120px; }
  .header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header_inside {
    background: url("../images/header-bg.jpg") no-repeat; }
  .header_top {
    -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
            box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
    height: 116px;
    background: #FFFFFF;
    padding-top: 30px; }
  .header_nav {
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header_title {
    margin-bottom: 29px; }
  .header_text {
    font-family: "MullerMedium";
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.02em;
    margin-bottom: 5.0rem; }
  .header_content {
    width: -webkit-calc(33.33333% - 30px);
    width: calc(33.33333% - 30px);
    padding-top: 163px; }
  .header_contact {
    text-align: right; }
  .header_phone {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #000000;
    font-family: "MullerMedium"; }
  .header_adress {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-family: "MullerMedium";
    opacity: 0.6; }
  .header_btn {
    margin-bottom: 217px; }

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px; }
  .advantages_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: -webkit-calc(25% - 30px);
    width: calc(25% - 30px); }
  .advantages_title {
    font-family: "MullerMedium", "sans-serif";
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.02em; }
  .advantages_text {
    font-family: "MullerMedium", sans-serif;
    font-size: 1.4rem;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6); }
  .advantages_description {
    width: 65%; }

.advantages-wrapper {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
          box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
  border-radius: 5px; }

/********MENU BLOCK****************/
.menu_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 630px; }
  @media screen and (max-width: 576px) {
    .menu_list {
      display: none;
      position: relative; } }
  @media screen and (max-width: 576px) {
    .menu_list--drop {
      display: block; } }
  .menu_list > li {
    margin-right: 10px;
    height: 30px; }
    .menu_list > li:hover {
      border-bottom: 2px solid #0545BA; }

.menu li {
  display: block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .menu li:hover {
    opacity: 1; }

.menu_toggle {
  background-color: #2aacc8;
  display: none;
  height: 40px;
  width: 65px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 12px 11px;
  cursor: pointer; }
  .menu_toggle:before {
    content: 'Menu'; }
  @media screen and (max-width: 576px) {
    .menu_toggle {
      display: block;
      position: absolute;
      left: 82%;
      top: 6%; } }

.menu .last {
  margin-right: 0px; }

.menu_item-1 {
  position: relative; }

.menu_item-5 {
  position: relative; }

.menu a {
  color: #000000;
  opacity: 0.6;
  display: block;
  font-size: 1.6rem;
  font-family: "MullerMedium";
  line-height: 22px;
  letter-spacing: 0.15px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .menu a:hover {
    opacity: 1; }

@media screen and (max-width: 576px) {
  li.menu_item-1 {
    padding: 0;
    width: 230px; } }

.menu_item-1 a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu_item-1 span {
  display: block;
  color: #0545BA; }

.menu_item-1:hover {
  background-color: #ffffff; }
  @media screen and (max-width: 576px) {
    .menu_item-1:hover {
      padding: 0 0 0 10px; } }
  .menu_item-1:hover span {
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg); }
  .menu_item-1:hover .menu_drop-1 {
    display: block; }

.menu_drop-1 {
  z-index: 1000;
  position: absolute;
  top: 30px;
  width: 210px;
  background-color: #ffffff;
  display: none;
  -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
          box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
  border-radius: 5px; }
  @media screen and (max-width: 576px) {
    .menu_drop-1 {
      position: static; } }
  .menu_drop-1 li {
    padding-bottom: 5px;
    margin-right: 0;
    padding-left: 20px;
    border-bottom: solid 1px #EDEDEE;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .menu_drop-1 li:hover {
      background: #0545BA; }
      .menu_drop-1 li:hover a {
        color: white; }
  .menu_drop-1 li:last-child {
    border-bottom-width: 0px; }
  .menu_drop-1 a {
    line-height: 36px; }

/************ END OF MENU BLOCK**********/
.service {
  max-width: 1470px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 660px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px; }
  .service_about {
    width: 57%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .service_feedback {
    width: 40%; }
  .service_subtitle {
    font-family: "MullerBold";
    font-size: 24px;
    line-height: 87%;
    letter-spacing: 0.02em; }
  .service_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #F5F5F5; }
  .service_discription, .service_price-discription {
    font-size: 1.8rem;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6); }
  .service_price-discription li {
    line-height: 32px; }
  .service_danger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .service_danger-text {
      height: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin-left: 20px; }
      .service_danger-text p:nth-of-type(1) {
        font-family: MullerBold;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em; }
      .service_danger-text p:nth-of-type(2) {
        font-family: MullerMedium;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.6); }
  .service_price {
    background-size: cover;
    background-color: #0545BA;
    height: 135px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
            box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
    border-radius: 5px; }
    .service_price p:nth-of-type(1) {
      font-size: 2.4rem;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      background-color: transparent;
      margin-bottom: 8px; }
    .service_price p:nth-of-type(2) {
      font-size: 1.6rem;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: rgba(255, 255, 255, 0.6);
      background-color: transparent; }
  .service_form {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
            box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
    border-radius: 5px;
    padding: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .service_form-title {
      font-family: MullerMedium, sans-serif;
      font-size: 2.4rem;
      line-height: 24px;
      letter-spacing: 0.02em;
      margin-bottom: 8px; }
    .service_form-subtitle {
      font-family: MullerMedium, sans-serif;
      font-size: 1.6rem;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 40px; }
    .service_form hr {
      width: 100%;
      height: 1px;
      background: #D6D6D6;
      -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          -ms-transform: matrix(1, 0, 0, -1, 0, 0);
              transform: matrix(1, 0, 0, -1, 0, 0);
      margin-bottom: 39px; }
    .service_form input {
      -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      width: 220px;
      height: 52px;
      padding-left: 18px; }
      .service_form input::-webkit-input-placeholder {
        font-family: Muller;
        font-size: 1.6rem;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.6); }
      .service_form input::-moz-placeholder {
        font-family: Muller;
        font-size: 1.6rem;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.6); }
      .service_form input:-ms-input-placeholder {
        font-family: Muller;
        font-size: 1.6rem;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.6); }
      .service_form input::-ms-input-placeholder {
        font-family: Muller;
        font-size: 1.6rem;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.6); }
      .service_form input::placeholder {
        font-family: Muller;
        font-size: 1.6rem;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.6); }
    .service_form-field {
      margin-bottom: 20px; }
    .service_form-caption {
      font-family: MullerBold, sans-serif;
      font-size: 1.6rem;
      line-height: 16px;
      letter-spacing: 0.02em;
      margin-bottom: 10px; }
    .service_form-agreement {
      font-size: 1rem;
      line-height: 120%;
      letter-spacing: 0.06em;
      color: rgba(0, 0, 0, 0.6);
      width: 57%;
      padding-top: 5px;
      margin-top: 50px; }
      .service_form-agreement a {
        color: #0545BA; }
  .service_btn {
    width: 184px;
    margin-top: 50px; }

.caries {
  background: url("../images/caries-bg.jpg") no-repeat;
  padding: 80px 0; }
  .caries .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .caries_questions {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
            box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
    border-radius: 5px;
    width: 66%;
    padding: 100px 10px 11px 145px;
    margin-left: -50px;
    z-index: 1; }
    .caries_questions h3 {
      margin-left: 25px;
      margin-bottom: 23px; }
  .caries_img {
    width: 41.3%;
    z-index: 10;
    position: relative; }

.accordion {
  height: 373px;
  overflow-y: scroll; }
  .accordion::-webkit-scrollbar {
    width: 6px;
    background: #CDD4E0;
    border-radius: 27px; }
  .accordion::-webkit-scrollbar-thumb {
    background: #0545BA;
    border-radius: 27px; }
  .accordion_item {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 11px; }
    .accordion_item--active .accordion_text {
      max-height: 135px;
      padding-top: 22px;
      padding-left: 26px;
      padding-bottom: 22px;
      -webkit-transition: max-height .4s linear;
      -o-transition: max-height .4s linear;
      transition: max-height .4s linear; }
      .accordion_item--active .accordion_text p {
        max-height: 100%;
        -webkit-transition: max-height .4s linear;
        -o-transition: max-height .4s linear;
        transition: max-height .4s linear; }
    .accordion_item--active .accordion_item-header {
      background: #0545BA;
      color: #ffffff; }
      .accordion_item--active .accordion_item-header span {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        -webkit-transition: -webkit-transform .4s linear;
        transition: -webkit-transform .4s linear;
        -o-transition: transform .4s linear;
        transition: transform .4s linear;
        transition: transform .4s linear, -webkit-transform .4s linear; }
    .accordion_item-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 25px;
      background: #ffffff;
      border-radius: 5px;
      border: 2px solid #0545BA;
      color: #0545BA;
      height: 52px; }
    .accordion_item h5 {
      margin-left: 10px; }
    .accordion_item span {
      font-size: 2.5rem; }
  .accordion_text {
    width: 100%;
    padding: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
            box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
    max-height: 0;
    overflow: hidden; }
    .accordion_text p {
      width: 65%;
      text-align: justify;
      line-height: 17px;
      max-height: 0;
      overflow: hidden; }

.stages {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 140px; }
  .stages_title, .stages_subtitle {
    text-align: center; }
  .stages_subtitle {
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 30px;
    margin-bottom: 6rem; }
  .stages_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .stages_list li {
      list-style-type: none;
      position: relative;
      width: 360px;
      margin-right: 30px; }
      .stages_list li:nth-of-type(2) {
        margin-right: 390px;
        margin-bottom: 80px; }
      .stages_list li:nth-of-type(3) {
        margin-left: 390px; }
      .stages_list li:nth-of-type(4) {
        margin-right: 0px;
        margin-bottom: 70px; }
      .stages_list li:nth-of-type(5) {
        margin-bottom: 65px; }
      .stages_list li:nth-of-type(6) {
        margin-right: 390px; }
      .stages_list li:nth-of-type(9) {
        margin-right: 0px; }
    .stages_list li:nth-of-type(-n+2) span {
      border-color: #1091A5; }
      .stages_list li:nth-of-type(-n+2) span::before, .stages_list li:nth-of-type(-n+2) span::after {
        background: #1091A5; }
    .stages_list li:nth-of-type(n+3):nth-of-type(-n+4) span {
      border-color: #136AA2; }
      .stages_list li:nth-of-type(n+3):nth-of-type(-n+4) span::before, .stages_list li:nth-of-type(n+3):nth-of-type(-n+4) span::after {
        background: #136AA2; }
    .stages_list li:nth-of-type(n+5):nth-of-type(-n+6) span {
      border-color: #182C9F; }
      .stages_list li:nth-of-type(n+5):nth-of-type(-n+6) span::before, .stages_list li:nth-of-type(n+5):nth-of-type(-n+6) span::after {
        background: #182C9F; }
    .stages_list li:nth-of-type(n+7):nth-of-type(-n+9) span {
      border-color: #09134A; }
      .stages_list li:nth-of-type(n+7):nth-of-type(-n+9) span::before, .stages_list li:nth-of-type(n+7):nth-of-type(-n+9) span::after {
        background: #09134A; }
    .stages_list li:nth-of-type(1) span::after {
      left: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 358px;
      height: 2px; }
    .stages_list li:nth-of-type(2) span::after {
      left: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 376px;
      height: 2px; }
    .stages_list li:nth-of-type(3) span {
      display: block;
      margin: 0 auto;
      width: 32px;
      height: 32px;
      position: relative; }
      .stages_list li:nth-of-type(3) span::after {
        left: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 376px;
        height: 2px; }
      .stages_list li:nth-of-type(3) span:nth-of-type(2) {
        margin-top: -32px; }
        .stages_list li:nth-of-type(3) span:nth-of-type(2)::before {
          content: '';
          position: absolute;
          bottom: 50%;
          -webkit-transform-origin: 0 50% 0;
              -ms-transform-origin: 0 50% 0;
                  transform-origin: 0 50% 0;
          -webkit-transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
                  transform: rotate(-180deg);
          width: 374px;
          height: 2px; }
    .stages_list li:nth-of-type(4) span::after {
      left: 50%;
      bottom: 100%;
      height: 330px;
      width: 2px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .stages_list li:nth-of-type(5) span {
      display: block;
      margin: 0 auto;
      width: 32px;
      height: 32px;
      position: relative; }
      .stages_list li:nth-of-type(5) span::after {
        left: 50%;
        bottom: 100%;
        height: 468px;
        width: 2px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
      .stages_list li:nth-of-type(5) span:nth-of-type(2) {
        margin-top: -32px; }
        .stages_list li:nth-of-type(5) span:nth-of-type(2)::before {
          content: '';
          position: absolute;
          bottom: 50%;
          left: 100%;
          width: 375px;
          height: 2px; }
    .stages_list li:nth-of-type(6) span::after {
      left: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 376px;
      height: 2px; }
    .stages_list li:nth-of-type(7) span::after {
      left: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 360px;
      height: 2px; }
    .stages_list li:nth-of-type(8) span::after {
      left: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 360px;
      height: 2px; }
    .stages_list li:nth-of-type(9) span::after {
      left: 50%;
      bottom: 100%;
      height: 375px;
      width: 2px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .stages_point {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 2px solid;
    border-radius: 50%;
    margin: 0 auto; }
    .stages_point::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
      border-radius: 50%; }
    .stages_point::after {
      content: '';
      position: absolute; }
  .stages_item {
    border: 2px solid #0545BA;
    -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
            box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
    border-radius: 5px;
    margin-top: 6.0rem;
    padding-top: 3.0rem;
    padding-left: 3.0rem;
    padding-bottom: 3.0rem;
    padding-right: 2.0rem; }
    .stages_item h4 {
      color: #0545BA; }
    .stages_item p {
      font-family: MullerMedium;
      line-height: 20px; }

.testimonials {
  margin-bottom: 21.0rem;
  max-width: 1488px;
  height: 360px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
  padding-left: 27px; }
  .testimonials h4 {
    margin-bottom: 39px;
    text-align: center; }
  .testimonials_btn-prev {
    position: absolute;
    top: 45%; }
  .testimonials_btn-next {
    position: absolute;
    top: 45%; }
  .testimonials_card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    max-width: 460px;
    height: 280px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 5px;
    border: 2px solid rgba(15, 27, 97, 0.06);
    padding-left: 2rem;
    padding-right: 2rem; }
    .testimonials_card span {
      display: block; }
    .testimonials_card button {
      background-color: transparent;
      font-family: MullerMedium;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: #0545BA;
      cursor: pointer;
      -webkit-align-self: start;
          -ms-flex-item-align: start;
              align-self: start; }
  .testimonials_user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.6rem; }
    .testimonials_user > p {
      margin-left: 2rem; }
  .testimonials_userName {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.02em; }
  .testimonials_patient {
    color: rgba(0, 0, 0, 0.6);
    font-family: MullerMedium, sans-serif;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.02em;
    margin-bottom: 5px; }
  .testimonials_text {
    color: rgba(0, 0, 0, 0.6);
    margin-left: 0;
    margin-bottom: 1.7rem;
    line-height: 120%;
    letter-spacing: 0.02em; }
  .testimonials h3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: -webkit-calc(33.33333% - 30px);
    width: calc(33.33333% - 30px); }
  .testimonials_userPic {
    vertical-align: middle; }
  .testimonials_userName {
    vertical-align: middle; }

.diff h2 {
  text-align: center;
  margin-bottom: 30px; }

.diff_subtitle {
  text-align: center;
  font-size: 1.8rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6); }

.diff_slider-wrap {
  max-width: 1026px;
  height: 472px; }

.diff_slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/smile-good.jpg") no-repeat;
  background-position: 0 center;
  background-size: contain;
  position: relative; }

.diff .original-image {
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  background: url("../images/smile-bad.jpg") no-repeat;
  background-position: 0 center;
  background-size: cover; }
  .diff .original-image .original-image {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100vh;
    background: url(1.jpg) no-repeat;
    background-position: 0 center;
    background-size: 100vw; }

.footer {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer a {
    color: rgba(0, 0, 0, 0.6); }
    .footer a:hover {
      color: #1853BF; }
  .footer_title {
    font-weight: 900;
    margin-bottom: 28px; }
  .footer_contact {
    width: 23.2353%; }
  .footer_logoGroup {
    width: 23.2353%; }
  .footer_text {
    margin-top: 23px;
    margin-bottom: 33px; }
  .footer_social a {
    font-size: 24px;
    margin-right: 18px; }
    .footer_social a:hover i:before {
      color: #1853BF; }
  .footer_linkGroup {
    width: 21.3725%; }
    .footer_linkGroup li {
      margin-bottom: 16px; }
    .footer_linkGroup li:nth-last-of-type {
      margin-bottom: 0; }
  .footer_linkWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer_contact li {
    margin-bottom: 16px; }
  .footer_contact i {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 18px; }
  .footer_contact span {
    display: inline-block;
    vertical-align: middle;
    word-break: break-all; }

footer {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  background-color: #0545BA;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  footer a {
    color: #ffffff;
    font-weight: 800;
    padding-left: 10px; }
    footer a:hover {
      color: #1853BF; }
  footer a:nth-of-type(2) {
    border-left: 2px solid #ffff; }
  footer a:nth-of-type(1) {
    padding-right: 10px; }

/*# sourceMappingURL=stomatology.css.map */
