input[type=range] {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;

}
input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 32px;
    height: 100%;
    background-color: none;
    background-image: url("../images/diff.png");
    cursor: pointer;
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    width: 32px;
    height: 100%;
    background-color: none;
    background-image: url("../images/diff.png");
    cursor: pointer;
}
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    width: 32px;
    height: 100%;
    background-color: none;
    background-image: url("../images/diff.png");
    cursor: pointer;
}