// BLOCKS *****************************************************

.wrapper {
    @include wrapper();
}

.row-flex {
    @include row-flex();
}

html {
    background: #CDCDCD;
    font-size: 10px;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;

}

a {
    cursor: pointer;
}

.contact {
    text-align: right;
    &_phone {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-family: "MullerMedium";
    }

    &_adress {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-family: "MullerMedium";
        opacity: 0.6;
    }
}



//HEADER********************************************

.header {
    width: 100%;
    padding-bottom: 120px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

    }

    &_inside {
        background: url("../images/header-bg.jpg") no-repeat;
        //background-size: contain;
    }

    &_top {
        box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
        height: 116px;
        background: #FFFFFF;
        padding-top: 30px;
    }

    &_nav {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_title {
        margin-bottom: 29px;
    }

    &_text {
        font-family: "MullerMedium";
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        margin-bottom: 5.0rem;

    }

    &_content {
        @include size(4);
        padding-top: 163px;
    }

    &_phone {
        color: #000000;
    }

    &_btn {
        margin-bottom: 217px;
    }

}

.advantages {
    @include row-flex();
    align-items: center;
    height: 180px;

    &_item {
        display: flex;
        align-items: start;
        justify-content: space-around;
        @include col();
        @include size(3);
    }

    &_title {
        font-family: "MullerMedium", "sans-serif";
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
    }

    &_text {
        font-family: "MullerMedium", sans-serif;
        font-size: 1.4rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.6);
    }

    &_description {
        width: 65%;
    }
}

.advantages-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
    border-radius: 5px;
}

/********MENU BLOCK****************/
.menu {

    //@include size(7);
    &_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        width: 630px;
        @include xs-block() {
            display: none;
            position: relative;
        }
        &--drop {
            @include xs-block() {
                display: block;
            }
        }
        &>li {
            margin-right: 10px;
            height: 30px;

            &:hover {
                border-bottom: 2px solid $primary;
            }
        }
    }
    li {
        display: block;
        flex-shrink: 0;
        &:hover {
            opacity: 1;
        }
    }

    &_toggle {
        background-color: #2aacc8;
        display: none;
        height: 40px;
        width: 65px;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
        padding: 12px 11px;
        cursor: pointer;
        &:before {
            content: 'Menu';
        }
        @include xs-block() {
            display: block;
            position: absolute;
            left: 82%;
            top: 6%;
        }
    }
    .last {
        margin-right: 0px;
    }
    &_item-1 {
        position: relative;
    }
    &_item-5 {
        position: relative;
    }
    a {
        color: #000000;
        opacity: 0.6;
        display: block;
        font-size: 1.6rem;
        font-family: "MullerMedium";
        line-height: 22px;
        letter-spacing: 0.15px;
        transition: all .2s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}

li.menu_item-1 {
    @include xs-block() {
        padding: 0;
        width: 230px;
    }
}

.menu_item-1 {
    a {
        display: flex;
        align-items: center;
    }
    span {
        display: block;
        color: $primary;
    }
}

.menu_item-1:hover {
    background-color: #ffffff;
    @include xs(padding, 0 0 0 10px);

    span {
        transform: rotateZ(180deg);
    }

    .menu_drop-1 {
        display: block;
    }
}

.menu_drop-1 {
    z-index: 1000;
    position: absolute;
    top: 30px;
    width: 210px;
    background-color: #ffffff;
    display: none;
    box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
    border-radius: 5px;
    @include xs-block() {
        position: static;
    }

    li {
        padding-bottom: 5px;
        margin-right: 0;
        padding-left: 20px;
        border-bottom: solid 1px #EDEDEE;
        transition: all .2s ease-in-out;

        &:hover {
            background: $primary;

            a {
                color: white;
            }
        }

    }

    li:last-child {
        border-bottom-width: 0px;
    }

    a {
        line-height: 36px;
    }
}

/************ END OF MENU BLOCK**********/


// SERVICE BLOCK******************************************
.service {
    @include wrapper();
    height: 660px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;

    &_about {
        width: 57%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_feedback {
        width: 40%;
    }

    &_subtitle {
        font-family: "MullerBold";
        font-size: 24px;
        line-height: 87%;
        letter-spacing: 0.02em;
    }

    &_text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #F5F5F5;
    }

    &_discription,
    &_price-discription {
        font-size: 1.8rem;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.6);
    }

    &_price-discription li {
        line-height: 32px;
    }

    &_danger {
        display: flex;

        &-text {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 20px;

            p:nth-of-type(1) {
                font-family: MullerBold;
                font-size: 2.4rem;
                line-height: 2.4rem;
                letter-spacing: 0.02em;
            }

            p:nth-of-type(2) {
                font-family: MullerMedium;
                font-size: 1.6rem;
                line-height: 1.9rem;
                letter-spacing: 0.02em;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    &_price {
        //background: url(../images/Group26.jpg) no-repeat, $primary;
        background-size: cover;
        background-color: $primary;
        height: 135px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        margin-bottom: 20px;
        //align-items:center;
        box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
        border-radius: 5px;

        p:nth-of-type(1) {
            font-size: 2.4rem;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            background-color: transparent;
            margin-bottom: 8px;

        }

        p:nth-of-type(2) {
            font-size: 1.6rem;
            line-height: 19px;
            letter-spacing: 0.02em;
            color: rgba(255, 255, 255, 0.6);
            background-color: transparent;

        }
    }

    &_form {
        background: #FFFFFF;
        box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
        border-radius: 5px;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        hr {
            width: 100%;
            height: 1px;
            background: #D6D6D6;
            transform: matrix(1, 0, 0, -1, 0, 0);
            margin-bottom: 39px;
        }

        &-field {
            margin-bottom: 20px;
        }


        &-agreement {
            width: 57%;
            padding-top: 5px;
            margin-top: 50px;

            a {
                color: $primary;
            }
        }
        button {
            width: 184px;
            margin-top: 50px;
        }
    }

    
}

.feedback-form {
    &_title {
        font-family: MullerMedium, sans-serif;
        font-size: 2.4rem;
        line-height: 24px;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    &_subtitle {
        font-family: MullerMedium, sans-serif;
        font-size: 1.6rem;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 40px;
    }

    input {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 220px;
        height: 52px;
        padding-left: 18px;

        &::placeholder {
            font-family: Muller;
            font-size: 1.6rem;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    &_caption {
        font-family: MullerBold, sans-serif;
        font-size: 1.6rem;
        line-height: 16px;
        letter-spacing: 0.02em;
        margin-bottom: 10px;
    }

    &_agreement {
        font-size: 1rem;
        line-height: 120%;
        letter-spacing: 0.06em;
        color: rgba(0, 0, 0, 0.6);
        
    }

    button {
        width: 184px;
    }
}

//************CARIES BLOCK**************************
.caries {
    background: url("../images/caries-bg.jpg") no-repeat;
    padding: 80px 0;

    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &_questions {
        background: #FFFFFF;
        box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
        border-radius: 5px;
        width: 66%;
        padding: 100px 10px 11px 145px;
        margin-left: -50px;
        z-index: 1;

        h3 {
            margin-left: 25px;
            margin-bottom: 23px;
        }
    }

    &_img {
        width: 41.3%;
        z-index: 10;
        position: relative;
    }
}

.accordion {
    height: 373px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 6px;
        background: #CDD4E0;
        border-radius: 27px;
    }

    &::-webkit-scrollbar-thumb {
        background: #0545BA;
        border-radius: 27px;
    }

    &_item {
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 11px;

        &--active {
            .accordion_text {
                max-height: 135px;
                padding-top: 22px;
                padding-left: 26px;
                padding-bottom: 22px;
                transition: max-height .4s linear;

                p {
                    max-height: 100%;
                    transition: max-height .4s linear;
                }

            }
            .accordion_item-header {
                background: #0545BA;
                color: #ffffff;

                span {
                    transform: rotate(180deg);
                    transition: transform .4s linear;
                }
            }
        }

        &-header {
            display: flex;
            align-items: center;
            padding-left: 25px;
            background: #ffffff;
            border-radius: 5px;
            border: 2px solid #0545BA;
            color: $primary;
            height: 52px;
        }

        h5 {
            margin-left: 10px;
        }

        span {
            font-size: 2.5rem;
        }
    }

    &_text {
        width: 100%;
        padding: 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
        max-height: 0;
        overflow: hidden;

        p {
            width: 65%;
            text-align: justify;
            line-height: 17px;
            max-height: 0;
            overflow: hidden;
        }
    }
}

//  *************STAGES SECTION *******
.stages {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 140px;

    &_title,
    &_subtitle {
        text-align: center;
    }

    &_subtitle {
        margin-top: 30px;
        margin-bottom: 6rem;
    }

    &_list {
        display: flex;
        flex-wrap: wrap;

        li {
            list-style-type: none;
            position: relative;
            width: 360px;
            margin-right: 30px;

            &:nth-of-type(2) {
                margin-right: 390px;
                margin-bottom: 80px;
            }

            &:nth-of-type(3) {
                margin-left: 390px;
            }

            &:nth-of-type(4) {
                margin-right: 0px;
                margin-bottom: 70px;
            }

            &:nth-of-type(5) {
                margin-bottom: 65px;
            }

            &:nth-of-type(6) {
                margin-right: 390px;
            }

            &:nth-of-type(9) {
                margin-right: 0px;
            }
        }

        // *****Points COLORS*******

        li:nth-of-type(-n+2) span {
            border-color: #1091A5;
            &::before,
            &::after {
                background: #1091A5;
            }
        }

        li:nth-of-type(n+3):nth-of-type(-n+4) span {
            border-color: #136AA2;
            &::before,
            &::after {
                background: #136AA2;
            }
        }

        li:nth-of-type(n+5):nth-of-type(-n+6) span {
            border-color: #182C9F;
            &::before,
            &::after {
                background: #182C9F;
            }
        }

        li:nth-of-type(n+7):nth-of-type(-n+9) span {
            border-color: #09134A;
            &::before,
            &::after {
                background: #09134A;
            }
        }

        // ******Lines styles*********

        li:nth-of-type(1) span {
            &::after {
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                width: 358px;
                height: 2px;
            }
        }

        li:nth-of-type(2) span {
            &::after {
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                width: 376px;
                height: 2px;
            }
        }

        li:nth-of-type(3) span {
            display: block;
            margin: 0 auto;
            width: 32px;
            height: 32px;
            position: relative;
            &::after {
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                width: 376px;
                height: 2px;
            }

            &:nth-of-type(2) {
                margin-top: -32px;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 50%;
                    transform-origin: 0 50% 0;
                    transform: rotate(-180deg);
                    width: 374px;
                    height: 2px;
                }
            }
        }

        li:nth-of-type(4) span {
            &::after {
                left: 50%;
                bottom: 100%;
                height: 330px;
                width: 2px;
                transform: translateX(-50%);
            }
        }

        li:nth-of-type(5) span {
            display: block;
            margin: 0 auto;
            width: 32px;
            height: 32px;
            position: relative;
            &::after {
                left: 50%;
                bottom: 100%;
                height: 468px;
                width: 2px;
                transform: translateX(-50%);
            }
            &:nth-of-type(2) {
                margin-top: -32px;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 50%;
                    left: 100%;
                    width: 375px;
                    height: 2px;
                }
            }

        }

        li:nth-of-type(6) span {
            &::after {
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                width: 376px;
                height: 2px;
            }
        }
        li:nth-of-type(7) span {
            &::after {
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                width: 360px;
                height: 2px;
            }
        }
        li:nth-of-type(8) span {
            &::after {
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                width: 360px;
                height: 2px;
            }
        }

        li:nth-of-type(9) span {
            &::after {
                left: 50%;
                bottom: 100%;
                height: 375px;
                width: 2px;
                transform: translateX(-50%);
            }
        }
    }

    // ******* Points styles **************
    &_point {
        display: block;
        position: relative;
        width: 32px;
        height: 32px;
        background: #ffffff;
        border: 2px solid;
        border-radius: 50%;
        margin: 0 auto;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 18px;
            height: 18px;
            border-radius: 50%;
        }
        &::after {
            content: '';
            position: absolute;
        }
    }

    &_item {
        border: 2px solid #0545BA;
        box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
        border-radius: 5px;
        margin-top: 6.0rem;
        padding-top: 3.0rem;
        padding-left: 3.0rem;
        padding-bottom: 3.0rem;
        padding-right: 2.0rem;

        h4 {
            color: $primary;
        }

        p {
            font-family: MullerMedium;
            line-height: 20px;
        }
    }
}


//TESTIMONIALS SECTION ************************************
.testimonials {
    margin-bottom: 21.0rem;
    max-width: 1488px;
    height: 360px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    padding-left: 27px;
    h4 {
        margin-bottom: 39px;
        text-align: center;
    }
    &_btn-prev{
        position: absolute;
        top:45%

    }
    &_btn-next {
        position: absolute;
        top:45%

    }

    &_card {
        display: flex;
        justify-content: space-around;
        max-width: 460px;
        height: 280px;
        flex-direction: column;
        //box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
        border-radius: 5px;
        border: 2px solid rgba(15, 27, 97, 0.06);
        padding-left: 2rem;
        padding-right: 2rem;
        span{
            display: block;
        }
        button{
            background-color:transparent;
            font-family: MullerMedium;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: $primary;
            cursor: pointer;
            align-self: start;
        }
        
    }
    &_user{
        display: flex;
        margin-bottom: 1.6rem;
        &>p{
            margin-left: 2rem;
        }
    }
   
    &_userName{
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
    }
    &_patient{
        color:$gray1;
        font-family: MullerMedium, sans-serif;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.02em;
        margin-bottom: 5px;
    }


    &_text {
        color: $gray1;
        margin-left: 0;
        margin-bottom: 1.7rem;
        line-height: 120%;
        letter-spacing: 0.02em;

    }

    h3 {
        @include col();
        @include size(4);
    }

    &_userPic {
        vertical-align: middle;
    }

    &_userName {
        vertical-align: middle;
    }
}

// DIFF SECTION***************************************
.diff{
    background: url("../images/diff-bg.jpg") no-repeat;
    background-size:100% 100%;
    padding-bottom: 9rem;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    h2{
        text-align: center;
        margin-bottom: 30px;
    }
    &_subtitle{
        text-align: center;
        margin-bottom: 30px;
    }
    &_slider-wrap{
        max-width: 1026px;
        height: 472px;
        position: relative;
        width: 100%;
        .btn-slider-prev {
            top: 45%;
            left: -20%;
        }
        .btn-slider-next {
            top: 45%;
            right: -20%;
        }
    }
    &_slide{
        width: 100%;
        height: 100%;
        display: flex;
        background: url("../images/smile-good.jpg") no-repeat;
        background-position: 0 center;
        background-size: 100% 100%;
        position: relative;
        
        input {
            -webkit-appearance: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background: none;

        }
        
        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 32px;
            height: 100%;
            background-color: none;
            background-image: url("../images/diff.png");
            cursor: pointer;
        }
    }
    .original-image {
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background: url("../images/smile-bad.jpg") no-repeat;
        background-position: 0 center;
        background-size: cover
        
    }
    &_dots{
        margin-top: 50px;
        
    }
}

// COMMUNICATION SECTION*******************************
.communication{
    background: url("../images/communication-bg.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 5.9rem;
    padding-bottom: 3.6rem;
    &_form {   
        &-title {
            color: #ffffff;
            text-align: center;
        }
        &-subtitle {
            color: rgba(255, 255, 255, 0.6);
            text-align: center;
        }
      &-agreement {
          color:rgba(255, 255, 255, 0.6);
          width: 278px;
          text-align: center;
          a {
              color: white;
          }
      }
      &-fields{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      &-inputs{
          display: flex;
          flex-wrap: wrap;
          
      }
      &-field {
          margin-right: 3rem;
      }
      &-caption {
          color:white;
      }
      

      button {
          width: 278px;
          color:$primary;
          background-color:white;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          margin-bottom: 25px;
          margin-top: 26px;
      }
    }
}

//*****DOCTORS SECTION**************************
.doctors{
    background:url("../images/doctors-bg.jpg") no-repeat;
    //background-size:contain;
    padding-top: 14.9rem;
    .wrapper{
        position: relative;
    }
    h2,
    .doctors_subtitle{
        text-align: center;
    }
    h2{
        margin-bottom: 30px;
    }
    &_subtitle{
        margin-bottom: 49px;
    }
    &_slider-prev,
    &_slider-next{
        top: 65%;
    }
    &_slider-prev{
        left:0px;
    }
    &_slider-next {
        right: 4px;
    }
    &_slider{
        height: 280px;
        margin-bottom: 8rem;
    }
    
    &_card{
        display: flex;
        align-items: center;
        max-width: 705px;
        padding: 4rem 3rem 4.5rem 4rem;
        background: #FFFFFF;
        border-radius: 5px;
    }
    &_about{
        display: flex;
        flex-direction: column;
    }
    &_speciality{
        font-family: MullerMedium,sans-serif;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.02em;
        color:$gray1;
        margin-bottom: 5px;
    }
    &_name{
        font-family: MullerMedium,sans-serif;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        margin-bottom: 24px;
    }
    &_text{
        color:$gray1;
        line-height: 120%;
        
    }
}

// COLLECTIVE SECTION *******************

.collective {
    width: 100%;
    background:url("../images/collective-bg.jpg") no-repeat;
    background-size:contain;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

    }

    &_text {
        font-family: "MullerMedium";
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    &_content {
        padding-top: 29.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20.4rem;

    }
    &_text{
        text-align: center;
    }


}

// VIDEOS SECTION ************

.videos{
    padding-top: 15.2rem;
    padding-bottom: 5.6rem;
    margin-top: -8rem;
    background: url("../images/video-bg.jpg") no-repeat;
    background-position:top center;

    h3{
        text-align: center;
        margin-bottom: 1.7rem;
    }
    &_gallery{
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
        margin-bottom: 4rem;
        div{
            box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
            border-radius: 5px;
            border:10px solid #ffffff;
        }
    }
    button{
        margin-left: auto;
        margin-right: auto;
    }
    
}

.contacts{
    padding-top: 15rem;
    padding-bottom: 6rem;
    h2{
        text-align: center;
        margin-bottom: 3rem;
    }
    &_icon {
        width: 14px;
        height: 14px;
        opacity: 0.6;
    }
    .wrapper{
        display: flex;
    }
    &_data{
        width: 50%;
        margin-right: 30px;
    }
    &_item{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 132px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 22px;
        a{
            color: $primary;
        }
    }
    &_item:last-of-type{
        margin-bottom: 0;
    }
    &_item p:nth-of-type(1) {
        color:$gray1;
        margin-bottom: 1rem;

    }
    &_item p:nth-of-type(2) {
        font-family: MullerMedium, sans-serif;

    }
    &_item p:nth-of-type(2),
    &_item p:nth-of-type(1){
        font-size: 1.6rem;
        line-height: 1.6rem;
        letter-spacing: 0.02em;
    }
    &_map{
        height: auto;
        width: 50%;
        border-radius:5px;
        border: 2px solid rgba(0, 0, 0, 0.1);
    }

}

// NEWS SECTION *******************************
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F3F6FC;
    padding: 7.6rem 0;
    &_form{
        display: flex;
        input{
            width: 220px;
            height: 52px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            font: 1.6rem/1.6rem Muller;
            padding-left: 3rem;
            margin-right: 3rem;
        }
        
    }
    h4{
        margin-bottom: 0.8rem;
    }
    &_subtitle{
        text-align: center;
        padding-bottom: 4.7rem;
    }
}
// FOOTER SECTION********************************
.footer{
    background-color:$primary;
    padding: 10rem 0;
    &_contact{
        color: white;
        margin-right: 4rem;
        a{
            color:white;
        }
    }
    &_btn{
        background:white;
        color: $primary;
        &:hover{
            color:white;
        }
    }
    &_reg{
        display: flex;
        align-items:center;
    }
    ul {
        display: flex;

        li {
            margin-right: 2rem;
        }

        a {
            font-family: MullerMedium;
            font-size: 1.6rem;
            line-height: 1.6rem;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            &:hover{
                opacity: 0.6;
            }
        }
    }

    &_linkGroup-1,
    &_linkGroup-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_linkGroup-1{
        margin-bottom: 6rem;
    }
    &_cuption{
        font-family: MullerBold;
        font-size: 2.4rem;
        line-height: 87%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 3rem;
    }
    &_creators{
        font-family: MullerMedium;
        font-size: 1.6rem;
        line-height: 1.6rem;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        opacity: 1;
        span{
            opacity: 1;
        }

    }
}
// .footer {
//     font-size: 14px;
//     line-height: 22px;
//     letter-spacing: 0.15px;
//     color: $gray1;
//     display: flex;
//     justify-content: space-between;

//     a {
//         color: $gray1;

//         &:hover {
//             color: $secondary1;
//         }

//     }

//     &_title {
//         font-weight: 900;
//         margin-bottom: 28px;
//     }

//     &_contact {
//         width: 23.2353%;
//     }

//     &_logoGroup {
//         width: 23.2353%;
//     }

//     &_text {
//         margin-top: 23px;
//         margin-bottom: 33px;
//     }

//     &_social a {
//         font-size: 24px;
//         margin-right: 18px;

//         &:hover i:before {
//             color: $secondary1;
//         }
//     }

//     &_linkGroup {
//         width: 21.3725%;

//         li {
//             margin-bottom: 16px;
//         }

//         li:nth-last-of-type {
//             margin-bottom: 0;
//         }
//     }

//     &_linkWrapper {
//         display: flex;
//         justify-content: space-between;
//     }

//     &_contact {
//         li {
//             margin-bottom: 16px;
//         }

//         i {
//             display: inline-block;
//             font-size: 16px;
//             vertical-align: middle;
//             margin-right: 18px;
//         }

//         span {
//             display: inline-block;
//             vertical-align: middle;
//             word-break: break-all;
//         }
//     }
// }

// footer {
//     font-size: 12px;
//     line-height: 18px;
//     letter-spacing: 0.15px;
//     color: #FFFFFF;
//     background-color: $primary;
//     height: 60px;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;

//     a {
//         color: #ffffff;
//         font-weight: 800;
//         padding-left: 10px;

//         &:hover {
//             color: $secondary1;
//         }
//     }

//     a:nth-of-type(2) {
//         border-left: 2px solid #ffff;
//     }

//     a:nth-of-type(1) {
//         padding-right: 10px;
//     }
// }