@media(max-width:420px){
    body {
        max-width: 420px;
        min-width: 320px;
    }

    .contact {
        text-align: center;

        &_phone {
            font-size: 1.4rem;
            line-height: 1.4rem;
        }

        &_adress {
            font-size: 1rem;
            line-height: 1rem;
        }
    }


    .header {
        padding-bottom: 62px;
        .wrapper {
            &_left {
                display: flex;
                align-items: center;
            }

            &_right {
                display: flex;
                align-items: center;
            }
        }

       &_inside {
            background: url("../images/header-bg-mobile.png") no-repeat;
           background-position: top center;
       }

        &_top {
            height: 70px;
            padding: 22px 0;
        }

        &_nav {
            // height: 60px;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            // margin-right: 30px;

        }

        &_title {
            font-size:2.4rem;
            line-height: 21px;
            margin-bottom: 1rem;
        }

        &_text {
            font-size: 1.3rem;
            line-height: 1.3rem;
            margin-bottom: 2.8rem;

        }

        &_content {
            width: 100%;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items:center;
        }


        &_btn {
            margin-left: 0rem;
            margin-bottom: 2.8rem;
            
        }

        &_logo {
            margin-right: 56px;
            margin-left: 65px;
            width: 80px;
            height: 27px;
        }

        &_contact-mobile {
           display: block;
        }
        .advantages-wrapper {
            background: url("../images/advantages-bg.jpg") no-repeat;
            background-size: contain;
            padding: 22.9rem 0 0 0;
        }

    }
    .advantages {
        box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
        border-radius: 5px;
        margin: 0 auto;
        width: 280px;
        padding: 4.7rem 4.2rem 5rem 4.2rem;
         background-color:#FFFFFF;
    

        &_item {
            align-items: center;
            flex-direction: column;
            margin: 0 0 2.5rem 0;
        }

        &_title {
            font-size: 1.8rem;
            line-height: 1.8rem;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 6px;
        }

        &_text {
            font-size: 14px;
            line-height: 120%;
            text-align: center;
        }

        &_description {
            width: 100%;
        }
    }
    .advantages-wrapper {
        box-shadow: 0px 0px 0px;
        border-radius: 0px;
        width: 100%;
    }

    // SERVICE BLOCK******************************************
    .service {
        margin-bottom: 60px;
        padding-left: 0;
        padding-right: 0;
        &_about{
            padding: 0 15px;
        }

        &_title {
            width: 100%;
            text-align: left;

        }

        &_subtitle {
            font-size: 18px;
            line-height: 100%;
            
        }

        &_discription,
        &_price-discription {
            font-size: inherit;
            line-height: 17px;
        }
        &_price-discription{
            margin-bottom: 40px;
        }

        &_price-discription li {
            line-height: 27px;
        }

        &_danger {
            box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
            border-radius: 5px;
            padding: 38px 19px 0 19px;
            margin-bottom: 15px;

            &-text {
                margin-left: 0px;

                p:nth-of-type(1) {
                    font-size: 18px;
                    line-height: 18px;
                }

                p:nth-of-type(2) {
                    font-size: inherit;
                    
                }
            }
        }

        &_price {
            padding-left: 0px;

            p:nth-of-type(1) {
                font-size: 18px;
                line-height: 18px;
            }

            p:nth-of-type(2) {
                font-size: inherit;
            }
        }

        

        &_btn {
            margin-right: 0px;
            color: $primary;
            background-color: white;
        }

        &_form {
            background: url("../images/servise_form-bg.jpg") no-repeat;
            background-size:cover;
            box-shadow:0 0 0;
            border-radius:0;
            &-title {
                color: #ffffff;
            }

            &-subtitle {
                color: rgba(255, 255, 255, 0.6);
            }

            &-subtitle a {
                color: rgba(255, 255, 255, 0.6);
            }

            &-agreement {
                color: rgba(255, 255, 255, 0.6);

                a {
                    color: white;
                }
            }

            &-caption {
                color: white;
            }

            &-field {
                margin-right: 0px;
            }

            &-agreement {
                font-size: 10px;
                line-height: 120%;
                width: 100%;
                margin-top: 10px;
                padding-top: 0;
                text-align: center;
            }
            &-order{
                width: 100%;
                margin-top: 30px;
            }

            
        }

    }
    .feedback-form {
         padding: 50px 30px;
        &_title {
           font-size: 18px;
           line-height: 18px;
            margin-bottom: 16px;
           
        }

        &_subtitle {
            font-size: 14px;
            line-height: 120%;
            margin-bottom: 50px;
        }
        &_subtitle a {
            font-size: 14px;
            display: block;
        }
        &_field{
            margin-bottom: 20px;
            margin-right: 0px;
        }

        input {
            height: 32px;
            padding-left: 18px;

            &::placeholder {
                font-size: 12px;
                line-height: 12px;
            }
        }

        &_caption {
            font-size: 14px;
            line-height: 14px;
        }

        &_agreement {
            font-size: 1rem;
            line-height: 120%;
        }

        button{
            margin-top: 0;
        }

    }

   //************CARIES BLOCK**************************

.caries {
    padding-top: 35px;
    padding-bottom: 35px;
    background:#F9F9F9;

    &_questions {
        width: 100%;
        padding-top: 40px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left:10px;
        margin-left: 0px;
        margin-right: 0;

        h3 {
            margin-left: 0px;
           text-align: center;
        }
    }

    &_img {
        width: 100%;
    }
}
.accordion {
    &_text {
        p {
            font-size: 10px;
            line-height: 120%;
        }
    }
    
}

// ***********STAGES SECTION***************
.stages{
    padding-top: 80px;
    background:none;
    &_subtitle{
        margin: 15px 0 25px 0;
    }
    &_item{
        p{
            font-size: 1.2rem;
        }
    }
}

//************TESTIMONIALS SECTION *****************
.testimonials{
    padding-left:15px;
    padding-right: 15px;
    width: 100%;
    height: 280px;
    margin-bottom: 60px;

    &_slider{
        height: 211px;
    }
    &_card{
        width: 100%;
        height: 211px;
        button{
            font-size: 10px;
        }
    }
    &_btn-next{
        right: -0px;
    }
    &_btn-prev{
        left: -0px;
    }
    &_patient{
        font-size: 10px;
    }
    &_userName{
        font-size: 14px;
    }
    &_text{
        font-size: 10px;
        line-height: 120%;
    }
}
//***********DIFF SECTION*****************
.diff {
    background:#F9F9F9;
    padding: 40px 15px 40px 15px;
    &_slider-wrap {
        width: 95%;
        .btn-slider-next {
            right: -16px;
        }

        .btn-slider-prev {
            left: -16px;
        }
    }
        
}

//**********DOCTORS SECTION*********************
.doctors{
    padding-top: 6rem;
}
.collective{
    height: auto;
    background: none;
    background-color:#f9f9f9;
    &_content{
        display: none;
    }
    .advantages-wrapper {
        background: url("../images/collective-advantages-bg.jpg") no-repeat;
        background-size: contain;
        padding: 14.7rem 0 0 0;
    }
}

// VIDEOS SECTION ************
.videos{
    &_gallery{
        flex-direction:column;
    }
}

//COMMUNICATION SECTION************************
.communication{
    background: url("../images/servise_form-bg.jpg") no-repeat;
    background-size:cover;
    &_form{
        &-order{
            width: 100%;
            margin-top: 30px;
        }
        &-agreement{
            width: 100%;
        }
    }
    .wrapper{
        padding: 0;
    }
}

//CONTACTs SECTION*****************************
.contacts_item:last-of-type{
    margin-bottom: 20px;
}

//NEWS SECTION*************************
.news_form input{
    height: 32px;
    font-size: 12px;
    line-height: 12px;
}
    
}