.caries_slider-prev,
.caries_slider-next {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color:$gray1;
    span {
        color:white;
        font-size: 4.2rem;
    }
}
.caries_slider-prev {
    top: 45%;
    left: -24px;
    z-index: 10;
    span {
        transform: rotate(90deg);
    }
}

.caries_slider-next {
    top: 45%;
    right: -24px;
    z-index: 10;
    span {
        transform: rotate(-90deg);
    }
}
.slick-disabled{
    background-color: white;
    span {
        color:$primary;
    }
}