body {
    font-family: "Muller","sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}
button{
    font-family: "Muller","sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: "MullerBold","sans-serif";
    color: #252525;
}

h1 {
    font-size: 72px;
    line-height: 63px;
}

h2 {
    font-size: 64px;
    line-height: 87%;
}

h3 {
    font-size: 36px;
    line-height: 31px;
}

h4 {
    font-size: 30px;
    line-height: 36px;
}

h5 {
    font-size: 24px;
    line-height: 30px;
}

h6 {
    font-size: 19px;
    line-height: 26px;

}