body {
    font-family: "Muller","sans-serif";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
}
button{
    font-family: "Muller","sans-serif";
}

h1,
h2,
h3
 {
    font-family: "MullerBold","sans-serif";
    color: #252525;
}
h4,
h5,
h6 {
    font-family: "MullerMedium", "sans-serif";
    
}

h1 {
    font-size: 7.2rem;
    line-height: 63px;
}

h2 {
    font-size: 6.4rem;
    line-height: 87%;
}

h3 {
    font-size: 3.6rem;
    line-height: 3.1rem;
}

h5 {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
}

h6 {
    font-size: 19px;
    line-height: 26px;

}