$primary: #0545BA;
$secondary1:#1853BF;
$secondary2:#1091A5;
$secondary3:#182C9F;
<<<<<<< HEAD
$gray1: rgba(0, 0, 0, 0.6);
=======
$gray1:rgba(0, 0, 0, 0.6);
>>>>>>> 62e8af640bdee4cebf1ac8fdc1e1c166f2e716dc
